
<% if !flash[:alert].nil? %>
  <div class="alert alert-danger text-center" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="text-center">
  <h1>Log in</h1>
</div>

<br>
<div class="col-md-4"></div>
<div class="col-md-4">
  <form action="login_complete" method="post">
    <div class="form-group">
      <label>Account</label>
      <input class="form-control" type="text" name="account" placeholder="Your account">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" name="password" placeholder="Your password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Log in</button>
    </div>
    <div "text-center">
      <p>If you don't have your account?</p>
      <p>click <a href="/user/signup" style="color:blue;">here</a> to make new account simply</p>
      <p>Or go <a href="/" style="color:blue;">home</a></p>
    </div>
  </form>
</div>
<div class="col-md-4"></div>
