<h1>Sign up</h1>

<form action="/user/signup_complete" method="post">
  <div>
    <label>Account : </label>
    <input type="text" name="account" placeholder="New account">
  </div>
  <div>
    <label>Password : </label>
    <input type="password" name="password" placeholder="More than 6 characters long">
  </div>
  <div>
    <label>Confirm your password : </label>
    <input type="password" name="con_password">
  </div>
  <div>
    <input type="submit" value="Create">
  </div>
  <div>
    <a href="/">
      <input type="button" value="cancel">
    </a>
  </div>

</form>