
<hr>

<% if !flash[:alert].nil? %>
  <div class="alert alert-success text-center" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= render :partial => "foods/posts_alignment" %>
<%= render :partial => "foods/posts" %>

<hr>